{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center; background-color: rgb(40, 179, 179); margin-top: 50px; color: black;">Admin Database</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
      {% for each in data %}
      <tr>
        <td>{{ each.username }}</td>
        <td>{{ each.password }}</td>
        <td>{{ each.email }}</td>
      </tr>
      {% endfor %}

  </tbody>
</table>
{% endblock %}